;MAROONED
;a leftwm theme by Nathan Leigh
;www.nathanleigh.net

[colors]
background = #001D1D1D
foreground = #080d13
background-1 = #657da1
foreground-1 = #b0c7e7
background-2 = #aa9c53
background-3 = #76546f
background-4 = #6FA29F
primary = #798da6
secondary = #ecd391
tertiary = #7c8f5e
alert = #eac08b

[bar/mainbar]
monitor = ${env:MONITOR}
width = 100%
height = 25
fixed-center = false
background = ${colors.background}
foreground = ${colors.foreground}
offset-y = -10
offset-x = 0
line-size = 5
border-size = 10
border-color = none
padding-left = 0
padding-right = 0
module-margin-left = 1
module-margin-right = 1
font-0 = String Literal 439:style=Regular;:pixelsize=10;4
font-1 = FontAwesome:style=Regular:pixelsize=15;4
modules-left = 
modules-center = 
modules-right = ewmh wifi ipaddr date
cursor-click = pointer
cursor-scroll = ns-resize

[bar/bottom]
modules-left = mpd
modules-center =
modules-right = prev play pause stop next voldown volup
inherit = bar/mainbar
width = 100%
offset-y = 5
border-size = 0
padding-right = 1
padding-left = 1
bottom = true

[module/date]
type = internal/date
time = %I:%M %p%
time-alt = %a %d-%m-%y%
label = "  %time:14:14%  "
format-background = ${colors.background-1}
format-foreground = ${colors.foreground-1}
format-prefix = "  "
format-prefix-background = ${colors.background-3}
format-prefix-foreground = ${colors.foreground-1}

[module/wifi]
type = internal/network
interface = wlp62s0
format-connected = <label-connected>
format-disconnected = <label-disconnected>
label-connected = "  %essid:14:14%  "
label-disconnected = NOT CONNECTED
format-connected-foreground = ${colors.foreground-1}
format-connected-background = ${colors.background-1}
format-disconnected-foreground = ${colors.foreground-1}
format-disconnected-background = ${colors.background-1}
format-connected-prefix = "  "
format-connected-prefix-background = ${colors.background-3}
format-connected-prefix-foreground = ${colors.foreground-1}
format-disconnected-prefix = "  "
format-disconnected-prefix-background = ${colors.background-3}
format-disconnected-prefix-foreground = ${colors.foreground-1}

[module/ipaddr]
type = internal/network
interface = wlp62s0
format-connected = <label-connected>
format-disconnected = <label-disconnected>
label-connected = "  %local_ip:14:14%  "
label-disconnected = NOT CONNECTED
format-connected-foreground = ${colors.foreground-1}
format-connected-background = ${colors.background-1}
format-disconnected-background = ${colors.background-1}
format-disconnected-foreground = ${colors.foreground-1}
format-connected-prefix = "  "
format-connected-prefix-background = ${colors.background-3}
format-connected-prefix-foreground = ${colors.foreground-1}
format-disconnected-prefix = "  "
format-disconnected-prefix-background = ${colors.background-3}
format-disconnected-prefix-foreground = ${colors.foreground-1}

[module/ewmh]
type = internal/xworkspaces
format = <label-state>
format-prefix = "  "
format-prefix-background = ${colors.background-3}
format-prefix-foreground = ${colors.foreground-1}
label-active = "  %name:14:14%  "
label-active-foreground = ${colors.foreground-1}
label-active-background = ${colors.background-1}
label-occupied = "  %icon%  " 
label-occupied-background = ${colors.background-2}
;label-urgent = 
;label-urgent-foreground = ${colors.alert}
;label-urgent-background = ${colors.background}
label-empty = 
;label-empty-foreground = ${colors.foreground}
enable-click = true

; icon-[0-9]+ = <desktop-name>;<icon>
; NOTE: The desktop name needs to match the name configured by the WM
; You can get a list of the defined desktops using:
; $ xprop -root _NET_DESKTOP_NAMES

icon-0 = MAIN;
icon-1 = CHROME;
icon-2 = KRDC;
icon-3 = ABLETON;
icon-4 = GIMP;
icon-5 = KDENLIVE;
icon-6 = DRAGONFRAME;
icon-7= MIDI;
icon-8 = TERMINAL;
icon-default = 

[module/mpd]
type = internal/mpd
format-online = <label-song> <label-time>
;format-playing = <label-playing> <label-time>
;format-paused = <label-paused> <label-time>
;format-stopped = <label-stopped>

format-online-background = ${colors.background-1}
format-online-foreground = ${colors.foreground}
format-online-prefix = "  "
format-online-prefix-background = ${colors.background-3}
format-online-prefix-foreground = ${colors.foreground}

label-song-maxlen = 100
label-song-ellipsis = true
label-song = "  %artist% - %title%  "
label-paused-maxlen = 100
label-paused-ellipsis = true
label-paused = "Paused:  %artist% - %title%  "
label-time = "  %elapsed% / %total%  "

[module/play]
type = custom/text
content = 
click-left = mpc play &

[module/pause]
type = custom/text
content = 
click-left = mpc toggle &

[module/stop]
type = custom/text
content = 
click-left = mpc stop &

[module/next]
type = custom/text
content = 
click-left = mpc next &

[module/prev]
type = custom/text
content = 
click-left = mpc prev &

[module/volup]
type = custom/text
content = 
click-left = amixer -q sset Master 3%+

[module/voldown]
type = custom/text
content = 
click-left = amixer -q sset Master 3%-

[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over
pseudo-transparency = true

[global/wm]
;margin-top = 10
;margin-bottom = 10

; vim:ft=dosini
