;kOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOkkkkkkkkOOOkkOOOOOkkkkkkkkkkkkkkkkk
;OkOOOOOOOOOOOOO00OOOOOOOOOOOOOOOOOOOOOOOOOkkkOOOOOOOOOOOOOkx:xx;xOO00OOO00O
;O000OOOOOOOOOOOOOOOOOOkkkOOOOOOOOOkkkkOOOOOOOOOOOOOOOOOOOOO:.:c.cOO00x00000
;KKKKKKKKKK000000000000000000000000OOOOOOOOOOOO0000000000000,.....o00,.,lxx0
;KKKKKKKKKKKKXXXXKKKKKKKKKKKKKKKKKK0000000000000ddddKKKKKKKKl',............x
;KKKKKKKKKkKKKKKKKKKKKKKKKKKKKK000O00000000000xl....cdKKKKKKc.,............x
;0000KKKKO.k00000000000000000OOOOxcOOOOOOOOO00o......:k00OOOc'...'.........d
;000O0Odk:.,x00kOO000000OOOOOOOOk''lOOOOOOxxOOl........kkkkkc..............o
;OOOkOk......';;cckkOOkkkkkkkkkkc...xdOOOO;dkkl........OOOkkl...'..'.......l
;kkkkdl..........ckkkkkkkkkkkkk;...'..:lkc.............kkkkkl.......'......c
;xxxxc...........ckkkkkkkkxxxxk..'.'...l,...'..........loxlxc..............c
;ddxxc'..........:ddxxdoccclold'.....'...................l.::........'..,..'
;ddd;''..........;ccll;'''....,..................................WATERCOLORS
;,;;............................................leftwm.theme.by.nathan.leigh
;....................................'...................www.nathanleigh.net


[colors]
background = #001D1D1D
foreground = #EEEEEE
background-alt = #1D1D1D
foreground-alt = #EEEEEE
primary = #73aab7
secondary = #ecd391
tertiary = #7c8f5e
alert = #eac08b

[bar/mainbar]
monitor = ${env:MONITOR}
width = 100%
height = 40
fixed-center = false
background = ${colors.background}
foreground = ${colors.foreground}
line-size = 3
line-color = #f00
border-size = 0
border-color = #00000000
padding-left = 5
padding-right = 5
module-margin-left = 1
module-margin-right = 1
font-0 = Luculent:style=Bold;:pixelsize=30
font-1 = FontAwesome:style=Regular:pixelsize=20
modules-left = ewmh prev play pause stop next mpd
modules-center = 
modules-right = memory cpu battery temperature date
tray-position = right
tray-padding = 2
cursor-click = pointer
cursor-scroll = ns-resize
bottom = true

[module/ewmh]
type = internal/xworkspaces
label-active = " %icon% "
label-active-foreground = ${colors.primary}
;label-active-background = ${colors.background-alt}
label-occupied = " %icon% "
;label-occupied-underline = ${colors.secondary}
label-urgent = " %icon% "
;label-urgent-foreground = ${colors.alert}
;label-urgent-background = ${colors.background}
label-empty = " %icon% "
;label-empty-foreground = ${colors.foreground}
enable-click = true

; icon-[0-9]+ = <desktop-name>;<icon>
; NOTE: The desktop name needs to match the name configured by the WM
; You can get a list of the defined desktops using:
; $ xprop -root _NET_DESKTOP_NAMES

icon-0 = MAIN;
icon-1 = CHROME;
icon-2 = KRDC;
icon-3 = ABLETON;
icon-4 = GIMP;
icon-5 = KDENLIVE;
icon-6 = DRAGONFRAME;
icon-7= MIDI;
icon-8 = TERMINAL;
icon-default = 

[module/mpd]
type = internal/mpd
format-online = <label-song>

label-song-maxlen = 50
label-song-ellipsis = true
label-song = %artist% - %title% 

[module/play]
type = custom/text
content = 
click-left = mpc play &

[module/pause]
type = custom/text
content = 
click-left = mpc toggle &

[module/stop]
type = custom/text
content = 
click-left = mpc stop &

[module/next]
type = custom/text
content = 
click-left = mpc next &

[module/prev]
type = custom/text
content = 
click-left = mpc prev &

[module/cpu]
type = internal/cpu
interval = 2
format = <label> <ramp-load>
label = %percentage%%

ramp-load-0 = 
ramp-load-1 = 
ramp-load-2 = 
ramp-load-3 = 
ramp-load-4 = 
ramp-load-4-foreground = ${colors.alert}

[module/memory]
type = internal/memory
interval = 2
label = %percentage_used%%
format = <label> <ramp-used>

ramp-used-0 = 
ramp-used-1 = 
ramp-used-2 = 
ramp-used-3 = 
ramp-used-4 = 
ramp-used-4-foreground = ${colors.alert}

[module/date]
type = internal/date
date =    %I:%M %p%


[module/battery]
type = internal/battery
battery = BAT0
adapter = AC
full-at = 97

format-charging = <label-charging> <animation-charging>

format-discharging = <label-discharging> <ramp-capacity>

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 
ramp-capacity-0-foreground = ${colors.alert}
ramp-capacity-1-foreground = ${colors.alert}
ramp-capacity-foreground = ${colors.secondary}

animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 
animation-charging-framerate = 750

label-full = %percentage%% 
label-discharging = %percentage%% 
label-discharging-foreground = ${colors.secondary}

[module/temperature]
type = internal/temperature
thermal-zone = 0
warn-temperature = 60

format = <label> <ramp>
format-warn = <label-warn> <ramp>

label = %temperature-c%
label-warn = %temperature-c%
label-warn-foreground = ${colors.alert}

ramp-0 = 
ramp-1 = 
ramp-2 = 
ramp-3 = 
ramp-4 = 
ramp-5 = 
ramp-6 = 
ramp-7 = 
ramp-8 = 
ramp-9 = 
ramp-10 = 
ramp-10-foreground = ${colors.alert}

[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over
;pseudo-transparency = false

;[global/wm]
;margin-top = 5
;margin-bottom = 5

; vim:ft=dosini
